body {
  font-size: 16px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  /*align-content: center;*/
  /*align-items: flex-start;*/
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
  /*padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;*/
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
}

header i.fa {
  font-size: 1.5em;
}

.principal-blog {
  background-image: url(../images/main.jpeg);
  background-position: right;
  background-repeat: no-repeat;
  padding: 4em 0 8em;
  margin: 0 3em;
}

.principal-blog h2 {
  font-size: 2em;
  margin-bottom: 0;
}

.principal-blog p {
  color: #AAA;
  font-size: 1.3em;
}

.principal-blog .linea {
  background-color: #DDD;
  margin-left: 0;
  margin-top: 100px;
  max-width: 400px;
  height: 1px;
}

nav {
  /*background-color: green;*/
  border-bottom: 1px solid #DDD;
}

/* Aca usamos flex para ubicar los enlaces uno al costado del otro */
nav ul {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  list-style-type: none;
  padding: 1em 0;
  margin: 0 3em;
  overflow-x: scroll;
  /*margin-left: 3em;
  margin-right: 3em;
  margin-top: 0;
  margin-bottom: 0;*/
}

nav ul::-webkit-scrollbar {
  display: none;
}

nav li {
  color: #AAA;
  margin-right: 2em;
}

nav li.activo {
  color: #333;
}

.articulos {
  padding: 1em 3em;
}

.articulos h3 {
  color: #00AB6B;
}

.articulos h3 i {
  font-size: .8em;
  margin-left: 1em;
}

.destacado {
  display: flex;
}

.destacado figure {
  margin-left: 1em;
}

.destacado img {
  width: 100%;
}

.destacado h4 {
  font-size: 2.5em;
  margin-bottom: .5em;
}

.destacado p {
  color: #AAA;
  margin-top: .5em;
}

.otros-articulos {
  display: flex;
  margin: 1em;
}

.otros-articulos img {
  width: 100%;
}

.otros-articulos article {
  margin-right: 2em;
  flex-grow: 2;
}

.otros-articulos article:last-of-type {
  margin-right: 0;
}

/*- Desktop first*/
@media (max-width: 768px) {
  /*.principal-blog {
    background-image: url();
  }*/
  h4 {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .destacado, .otros-articulos {
    flex-direction: column;
  }

  .destacado figure {
    margin: 0;
  }

  .otros-articulos article {
    margin-right: 0;
    margin-bottom: 2em;
  }
}












