body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
}

h2, p { color: #2A3A3F; }

h2 { font-weight: 700; }


.tipo-a { text-align: center; }

.tipo-a article {
  display: inline-block;
  vertical-align: top;
  margin: 2em 1em;
  width: 250px;
}

.proyectos article img {
  border-radius: 5px;
  width: 90%;
}

.experiencias i {
  color: #FDCD3B;
  font-size: 2em;
}

.tipo-a article p {
  color: #BEACB1;
  font-size: .9em;
  line-height: 1.5em;
}

button {
  background-color: transparent;
  border: 2px solid #FDCD3B;
  border-radius: 50px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em 2em;
  transition: all .6s;
}

button:hover {
  background-color: #FDCD3B;
  color: white;
  cursor: pointer;
}

button.chico {
  font-size: 1em;
  padding: .3em 1em;
}

button.secundario:hover {
  background-color: black;
  color: #FDCD3B;
}

button.black-text {
  color: black;
}

/*

buttons
1. fondo: transparent, color: white border: amarillo;
    hover: amarilla, color: black;
2. fondo: transparent, color: black; border: amarillo;
  hover: black, color: amarillo;
3. fondo: transparent, color: black; border: black;
  hover: black, color: amarillo;

section {
  margin: 2em 1em;
  text-align: center;
  font-size: 0;
}

article {
  background-color: black;
  border: 6px solid blue;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-size: 1rem;
  height: 100px;
  margin: 0;
  padding: 40px;
  margin-bottom: 20px;
  width: 25%;
}

article:first-of-type {
  background-color: green;
}

article:last-of-type {
  background-color: blue;
}

article:nth-child(2n) {
  background-color: red;
}

p::first-line {
  color: red;
}

p::before {
  content: 'Inicio';
}
*/